name: tests
run-name: Application tests
on:
  - pull_request

env:
  PYTHON_VERSION: "3.10"

jobs:
  test:
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          ssh-private-key: ${{ secrets.GLAZE_CICD_UTILS_SECRET }}
      - name: Run pytest
        run: uv run pytest --cov=grdb --cov-report term --cov-fail-under=90
  ty:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          ssh-private-key: ${{ secrets.GLAZE_CICD_UTILS_SECRET }}
      - name: Run ty
        run: uv run ty check .
  ruff:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          ssh-private-key: ${{ secrets.GLAZE_CICD_UTILS_SECRET }}
      - name: Run ruff linter
        run: uv run ruff check .
      - name: Run ruff formatter
        run: uv run ruff format . --check
  version-validation:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          ssh-private-key: ${{ secrets.GLAZE_CICD_UTILS_SECRET }}
      - name: Install CI/CD utils
        run: uv pip install git+ssh://git@github.com/GlazeTech/CICD-utils.git
      - name: Validate version number
        run: uv run check-version-number -p grdb/ --version-files pyproject.toml